.potions {
    background-image: url(img/monarcasback.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
        background-attachment: fixed;
}

body {
    height: 900vh;
}